html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: $main-text;
  line-height: 1.3em;
}

.container {
  max-width: 1170px;
  padding: 0px 15px;
  margin: 0 auto;
}

@mixin round-avatar {
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-blue {
  background-color: $btn-blue;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 26px;
  &:hover {
    background-color: $btn-blue-hover;
  }
}

.btn-white {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 40px;
  transition: all 0.5s;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  &:hover {
    background-color: #fff;
    color: $btn-blue;
  }
}

.form-search {
  width: 100%;
  position: relative;
}

.input-search {
  height: 47px;
  width: 100%;
  display: block;
  border: 1px solid $grey-border;
  border-radius: 26px;
  font-size: 15px;
  color: $input-text;
}

.btn-search {
  position: absolute;
  right: 0;
  top: 0;
  height: 47px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
}


