html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #555555;
}

.container {
  max-width: 1170px;
  padding: 0px 15px;
  margin: 0 auto;
}

.btn-blue {
  background-color: $btn-blue;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  outline: none;
}

.btn-blue:hover,
.btn-blue:focus {
  background-color: $btn-blue-hover;
  color: #fff;
}

.btn-white {
  background-color: transparent;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #fff;
  border-radius: 30px;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.btn-white:hover,
.btn-white:focus {
  font-weight: 700;
}

.btn-white:active,
.btn-white-active {
  background-color: #fff;
  color: $btn-blue;
}

input,
select {
  border: 1px solid #dae0e6;
  height: 47px;
  outline: none;
  padding: 0px 25px;
  color: #898f96;
  &::placeholder {
    color: #898f96;
    font-weight: 300;
    font-size: 15px;
  }
}

select:focus {
  background-color: rgb(231, 233, 241);
}

.section__row {
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  background-color: #fff;
  min-height: 112px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  &-title {
    font-size: 30px;
    color: #000;
  }
  &-arrow {
    width: 110px;
    height: 50px;
    border-radius: 26px;
  }
}

.category {
  color: #7347c1;
  position: relative;
}

.category::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 2px;
}
