@import "vars";
@import "global";
@import "fonts";

//-------Header--------//

.header__top {
  background-color: #eef1f3;
}

.logo {
  margin-left: 9px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.user-menu {
  display: flex;
  align-items: center;
}

.seller-btn {
  font-size: 14px;
  padding: 9px 19px 8px;
  margin-right: 47px;
}

.lnr-alarm,
.lnr-cart,
.lnr-envelope {
  color: #7e8fa1;
  font-size: 20px;
}

.user-menu__icons-item + .user-menu__icons-item {
  margin-left: 27px;
}

.account {
  margin-left: 50px;
  display: flex;
  align-items: center;
  &__avatar {
    width: 50px;
    height: 50px;
    @include round-avatar;
    margin-right: 20px;
  }
  &__name {
    font-weight: 500;
    color: $grey-text;
    line-height: 22px;
  }
  &__money {
    color: $btn-blue;
    font-size: 15px;
  }
}

.header__bottom-inner {
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin-right: 70px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.menu__item {
  color: $grey-text;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  & + & {
    margin-left: 34px;
  }
}

.menu__item-link {
  color: $grey-text;
  transition: all 0.3s;
  &:hover {
    color: $grey-text-hover;
  }
}

.header-search {
  max-width: 360px;
}

.header-search__input {
  padding-left: 25px;
  padding-right: 100px;
}

.header-search__btn {
  width: 70px;
  box-shadow: none;
  background-image: url(../images/icon/search.png);
  background-repeat: no-repeat;
  background-position: center;
}
