@import "vars";
@import "global";
@import "fonts";

//-------Header--------//

.header__top {
  background-color: #eef1f3;
}

.logo {
  margin-left: 9px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.user-menu {
  display: flex;
  align-items: center;
}

.seller-btn {
  font-size: 14px;
  padding: 9px 19px 8px;
  margin-right: 47px;
}

.user-menu__icons {
  .lnr-alarm,
  .lnr-cart,
  .lnr-envelope {
    color: #7e8fa1;
    font-size: 20px;
  }
}

.user-menu__icons-item + .user-menu__icons-item {
  margin-left: 27px;
}

.account {
  margin-left: 50px;
  display: flex;
  align-items: center;
  &__avatar {
    width: 50px;
    height: 50px;
    @include round-avatar;
    margin-right: 20px;
  }
  &__name {
    font-weight: 500;
    color: $grey-text;
    line-height: 22px;
  }
  &__money {
    color: $btn-blue;
    font-size: 15px;
  }
}

.header__bottom-inner {
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin-right: 70px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.menu__item {
  color: $grey-text;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  & + & {
    margin-left: 34px;
  }
}

.menu__item-link {
  color: $grey-text;
  transition: all 0.3s;
  &:hover {
    color: $grey-text-hover;
  }
}

.header-search {
  max-width: 360px;
}

.header-search__input {
  padding-left: 25px;
  padding-right: 100px;
}

.header-search__btn {
  width: 70px;
  box-shadow: none;
  background-image: url(../images/icon/search.png);
  background-repeat: no-repeat;
  background-position: center;
}

//-----Promo section-----//

.promo {
  background-image: linear-gradient(
    320deg,
    rgb(0, 48, 222) 0%,
    rgb(23, 69, 237) 54%,
    rgb(46, 90, 251) 100%
  );
  min-height: 726px;
  text-align: center;
  position: relative;
  z-index: 5;
}

.promo__inner {
  padding: 173px 30px 0px;
  text-align: center;
}

.promo__title {
  font-size: 60px;
  color: #f3f3f8;
  line-height: 70px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 31px;
  span {
    font-weight: 700;
    display: block;
  }
}

.promo__text {
  font-size: 20px;
  font-weight: 500;
  color: #f3f3f8;
  margin-bottom: 51px;
}

.promo__link {
  display: inline-block;
  padding: 18px 30px;
  & + & {
    margin-left: 30px;
  }
}

.promo__form {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  padding: 38px;
  position: absolute;
  z-index: 10;
  bottom: -65px;
  form {
    display: flex;
    align-items: center;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: #fff;
    opacity: 0.5;
    height: 35px;
    border-radius: 6px;
  }
  &::before {
    z-index: 2;
    top: -15px;
    left: 16px;
    width: 1112px;
  }
  &::after {
    z-index: 3;
    top: -27px;
    width: 1080px;
    left: 29px;
  }
}

.promo__input,
.promo__select {
  height: 56px;
  border: 1px solid $grey-border;
  padding: 0px 25px;
}

.promo__input {
  border-right: none;
  border-radius: 4px 0px 0px 4px;
  color: #676767;
  width: 610px;
}

.promo__select {
  border-radius: 0px 4px 4px 0px;
  margin-right: 30px;
  padding-right: 72px;
  appearance: none;
  background-image: url(../images/icon/down.svg);
  background-size: 12px 20px;
  background-repeat: no-repeat;
  background-position: 89% 52%;
  cursor: pointer;
}

.promo__btn {
  padding: 20px 66px;
  border-radius: 4px;
}

//-----Advantages-----//

.advantages__inner {
  padding: 183px 0px 119px;
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  min-width: 360px;
  min-height: 404px;
  padding: 46px 36px;
  text-align: center;
  border-radius: 4px;
  transition: all 0.5s;
  &:hover {
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
  & + & {
    margin-left: 30px;
  }
}

.advantages__item-image {
  margin: 0 auto 32px;
  @include backgroung-image;
  width: 120px;
  height: 120px;
}

.advantages__item-image--1 {
  background-image: url(../images/advantage-1.png);
}

.advantages__item-image--2 {
  background-image: url(../images/advantage-2.png);
}

.advantages__item-image--3 {
  background-image: url(../images/advantage-3.png);
}

.advantages__item-title {
  color: #000;
  font-size: 24px;
  margin-bottom: 24px;
}

.advantages__item-text {
  line-height: 30px;
  margin: 0;
}

//-----Weekly slider-----//

.weekly-slider {
  background-color: #eff1f5;
  padding: 118px 0px;
}

.weekly-slider__top {
  padding-bottom: 42px;
  border-bottom: 1px solid #ececec;
}

.weekly-slider__arrow {
  background-color: $purple;
}

.weekly-slider__box {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
  margin-top: 48px;
}

.weekly-slider__item {
  display: flex !important;
}

.weekly-slider__image {
  display: block;
  @include backgroung-image;
  min-width: 555px;
  min-height: 450px;
}

.weekly-slider__inner {
  padding: 50px 50px 26px 50px;
}

.weekly-slider__title {
  font-weight: 500;
  display: inline-block;
  font-size: 24px;
  color: #000;
  line-height: 30px;
  margin-bottom: 15px;
}

.weekly-slider__text {
  margin: 22px 0 37px;
  line-height: 30px;
  word-spacing: 1px;
}

.weekly-slider__botom {
  padding-top: 23px;
  display: flex;
  align-items: center;
}

.weekly-slider__cost {
  background-color: $btn-blue;
  border-radius: 26px;
  font-weight: 500;
  color: #fff;
  font-size: 15px;
  padding: 5px 20px;
}

.weekly-slider__icon {
  margin-left: 19px;
  display: flex;
}

.weekly-slider__bag {
  margin-left: 27px;
}

.weekly-slider__star {
  margin-left: auto;
}

//----Newest release----//

.newest-release {
  background-color: #f6f7fb;
  padding-top: 118px;
}

.newest-release__row {
  margin-bottom: 33px;
}

.newest-release__filter {
  background-color: transparent;
  border: none;
  position: relative;
  padding-right: 26px;
  cursor: pointer;
  &::after {
    content: "";
    background-image: url(../images/icon/filter.svg);
    width: 5px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.newest-release__tag-box {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
  padding: 32px 30px;
  margin-bottom: 47px;
}

.product__tag-btn {
  background-color: #f1f3f6;
  color: #747b86;
  font-size: 15px;
  padding: 5px 17px;
  display: inline-block;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  & + & {
    margin-left: 5px;
  }
  &:hover {
    background-color: #0674ec;
    color: #fff;
  }
  &:active {
    background-color: #8bb4e0;
  }
}

.newest-release__product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 56px;
}

.newest-release__all {
  margin: 0 auto;
  display: block;
  padding: 20px 25px;
}
