@import "vars";
@import "global";
@import "fonts";

//-------Header--------//

.header__top {
  background-color: #eef1f3;
}

.logo {
  margin-left: 9px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.user-menu {
  display: flex;
  align-items: center;
}

.seller-btn {
  font-size: 14px;
  padding: 9px 19px 8px;
  margin-right: 47px;
}

.user-menu__icons {
  display: flex;
  justify-content: space-between;
}

.user-menu__icons {
  .lnr-alarm,
  .lnr-cart,
  .lnr-envelope {
    color: #7e8fa1;
    font-size: 20px;
  }
}

.user-menu__icons-item + .user-menu__icons-item {
  margin-left: 23px;
}

.user-menu__icons-item {
  position: relative;
}

.user-menu__icons {
  span {
    font-size: 0;
  }
}

.user-menu__icons {
  span.active {
    text-align: center;
    font-size: 14px;
    line-height: 15px;
    font-weight: 500;
    position: absolute;
    height: 21px;
    min-width: 22px;
    width: fit-content;
    padding: 3px 4px;
    border-radius: 50%;
    color: #fff;
    left: 13px;
    top: -13px;
  }
}

.user-menu {
  .lnr-alarm {
    span.active {
      background-color: #ff6a6c;
    }
  }
  .lnr-envelope {
    width: 25px;
    span.active {
      background-color: #62d03b;
    }
  }
  .lnr-cart {
    span.active {
      background-color: #0674ec;
    }
  }
}

.account {
  margin-left: 50px;
  display: flex;
  align-items: center;
  &__avatar {
    width: 50px;
    height: 50px;
    @include round-avatar;
    margin-right: 20px;
  }
  &__name {
    font-weight: 500;
    color: $grey-text;
    line-height: 22px;
  }
  &__money {
    color: $btn-blue;
    font-size: 15px;
  }
}

.header__bottom-inner {
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin-right: 70px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.menu__item {
  color: $grey-text;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  & + & {
    margin-left: 34px;
  }
}

.menu__item-link {
  color: $grey-text;
  transition: all 0.3s;
  &:hover {
    color: $grey-text-hover;
  }
}

.header-search {
  max-width: 360px;
}

.header-search__input {
  padding-left: 25px;
  padding-right: 100px;
}

.header-search__btn {
  width: 70px;
  box-shadow: none;
  background-image: url(../images/icon/search.png);
  background-repeat: no-repeat;
  background-position: center;
}

//-----Promo section-----//

.promo {
  background-image: linear-gradient(
    320deg,
    rgb(0, 48, 222) 0%,
    rgb(23, 69, 237) 54%,
    rgb(46, 90, 251) 100%
  );
  min-height: 726px;
  text-align: center;
  position: relative;
  z-index: 5;
}

.promo__inner {
  padding: 173px 30px 0px;
  text-align: center;
}

.promo__title {
  font-size: 60px;
  color: #f3f3f8;
  line-height: 70px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 31px;
  span {
    font-weight: 700;
    display: block;
  }
}

.promo__text {
  font-size: 20px;
  font-weight: 500;
  color: #f3f3f8;
  margin-bottom: 51px;
}

.promo__link {
  display: inline-block;
  padding: 18px 30px;
  & + & {
    margin-left: 30px;
  }
}

.promo__form {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  padding: 38px;
  position: absolute;
  z-index: 10;
  bottom: -65px;
  form {
    display: flex;
    align-items: center;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: #fff;
    opacity: 0.5;
    height: 35px;
    border-radius: 6px;
  }
  &::before {
    z-index: 2;
    top: -15px;
    left: 16px;
    width: 1112px;
  }
  &::after {
    z-index: 3;
    top: -27px;
    width: 1080px;
    left: 29px;
  }
}

.promo__input,
.promo__select {
  height: 56px;
  border: 1px solid $grey-border;
  padding: 0px 25px;
}

.promo__input {
  border-right: none;
  border-radius: 4px 0px 0px 4px;
  color: #676767;
  width: 610px;
}

.promo__select {
  border-radius: 0px 4px 4px 0px;
  margin-right: 30px;
  padding-right: 72px;
  appearance: none;
  background-image: url(../images/icon/down.svg);
  background-size: 12px 20px;
  background-repeat: no-repeat;
  background-position: 89% 52%;
  cursor: pointer;
}

.promo__btn {
  padding: 20px 66px;
  border-radius: 4px;
}

//-----Advantages-----//

.advantages__inner {
  padding: 183px 0px 119px;
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  min-width: 360px;
  min-height: 404px;
  padding: 46px 36px;
  text-align: center;
  border-radius: 4px;
  transition: all 0.5s;
  &:hover {
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
  & + & {
    margin-left: 30px;
  }
}

.advantages__item-image {
  margin: 0 auto 32px;
  @include backgroung-image;
  width: 120px;
  height: 120px;
}

.advantages__item-image--1 {
  background-image: url(../images/advantage-1.png);
}

.advantages__item-image--2 {
  background-image: url(../images/advantage-2.png);
}

.advantages__item-image--3 {
  background-image: url(../images/advantage-3.png);
}

.advantages__item-title {
  color: #000;
  font-size: 24px;
  margin-bottom: 24px;
}

.advantages__item-text {
  line-height: 30px;
  margin: 0;
}

//-----Weekly slider-----//

.weekly-slider {
  background-color: #eff1f5;
  padding: 118px 0px;
}

.weekly-slider__top {
  padding-bottom: 42px;
  border-bottom: 1px solid #ececec;
}

.weekly-slider__arrow {
  background-color: $purple;
}

.weekly-slider__box {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
  margin-top: 48px;
}

.weekly-slider__item {
  display: flex !important;
}

.weekly-slider__image {
  display: block;
  @include backgroung-image;
  min-width: 555px;
  min-height: 450px;
}

.weekly-slider__inner {
  padding: 50px 50px 26px 50px;
}

.weekly-slider__title {
  font-weight: 500;
  display: inline-block;
  font-size: 24px;
  color: #000;
  line-height: 30px;
  margin-bottom: 15px;
}

.weekly-slider__text {
  margin: 22px 0 37px;
  line-height: 30px;
  word-spacing: 1px;
}

.weekly-slider__botom {
  padding-top: 23px;
  display: flex;
  align-items: center;
}

.weekly-slider__cost {
  background-color: $btn-blue;
  border-radius: 26px;
  font-weight: 500;
  color: #fff;
  font-size: 15px;
  padding: 5px 20px;
}

.weekly-slider__icon {
  margin-left: 19px;
  display: flex;
}

.weekly-slider__bag {
  margin-left: 27px;
}

.weekly-slider__star {
  margin-left: auto;
}

//----Newest release----//

.newest-release {
  background-color: #f6f7fb;
  padding-top: 118px;
  padding-bottom: 120px;
}

.newest-release__row {
  margin-bottom: 33px;
}

.newest-release__filter {
  background-color: transparent;
  border: none;
  position: relative;
  padding-right: 26px;
  cursor: pointer;
  &::after {
    content: "";
    background-image: url(../images/icon/filter.svg);
    width: 5px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.newest-release__tag-box {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
  padding: 32px 30px;
  margin-bottom: 18px;
}

.product__tag-btn {
  background-color: #f1f3f6;
  color: #747b86;
  font-size: 15px;
  padding: 7px 20px;
  display: inline-block;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  & + & {
    margin-left: 4px;
  }
  &:hover {
    background-color: #0674ec;
    color: #fff;
  }
  &:active {
    background-color: #8bb4e0;
  }
}

.newest-release__product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 59px;
}

.newest-release__all {
  margin: 0 auto;
  display: block;
  padding: 19px 33px;
}

.item-img--1 {
  background-image: url(../images/content/product-item-1.png);
}

.item-img--2 {
  background-image: url(../images/content/product-item-2.jpg);
}

.item-img--3 {
  background-image: url(../images/content/product-item-3.jpg);
}

.item-img--4 {
  background-image: url(../images/content/product-item-4.jpg);
}

.item-img--5 {
  background-image: url(../images/content/product-item-5.jpg);
}

.item-img {
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-image: linear-gradient(
      90deg,
      rgb(115, 71, 193) 0%,
      rgb(61, 94, 215) 46%,
      rgb(6, 116, 236) 100%
    );
    opacity: 0.9;
  }
  button {
    transition: all 0.5s;
    outline: none;
    display: none;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid #f4f4f4;
    padding: 15px 30px;
    border-radius: 26px;
    font-size: 15px;
    font-weight: 500;
    & + button {
      margin-left: 10px;
    }
    &:hover {
      background-color: #fff;
      color: #0674ec;
    }
  }
  &:hover button {
    display: inline-block;
  }
}

//----Folower slider----//

.folowers-slider {
  background-color: #eff1f5;
  padding: 123px 0px;
}

.folowers-slider__row {
  margin-bottom: 15px;
}

.folowers-slider__arrow {
  background-color: $btn-blue;
}

.folowers-slider__inner {
  .slick-slide {
    text-align: center;
    .product__item {
      text-align: left;
    }
  }
}

.folowers-slider__inner button.slick-arrow {
  top: -77px;
}

//----Statistic section-----//

.statistic {
  background-color: #212225;
  padding: 93px 0px 96px;
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.statistic-item {
  display: flex;
  flex-direction: column;
  max-width: 215px;
  width: fit-content;
  text-align: center;
  & + & {
    margin-left: 50px;
  }
  &__icon {
    font-size: 48px;
    margin-bottom: 50px;
  }
  &__number {
    font-size: 36px;
    margin-bottom: 23px;
  }
  &__text {
    font-size: 18px;
    color: #fff;
  }
}

.statistic-item--1 {
  .statistic-item__icon,
  .statistic-item__number {
    color: #feb71d;
  }
}

.statistic-item--2 {
  .statistic-item__icon,
  .statistic-item__number {
    color: #58c9e9;
  }
}

.statistic-item--3 {
  .statistic-item__icon,
  .statistic-item__number {
    color: #77de51;
  }
}

.statistic-item--4 {
  .statistic-item__icon,
  .statistic-item__number {
    color: #ff6a6d;
  }
}

//-----Why-choose section----//

.why-choose {
  padding: 123px 0px;
  text-align: center;
}

.why-choose__title,
.why-choose__text{
  max-width: 670px;
  margin: 0 auto;
}

.why-choose__title {
  font-size: 36px;
  font-weight: 300;
  color: #000;
  margin-bottom: 33px;
  span {
    color: $btn-blue;
  }
}

.why-choose__text{
  line-height: 30px;
  margin-bottom: 29px;
}


.why-choose__box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.why-choose-item{
  position: relative;
  max-width: 361px;
  min-height: 373px;
  border-radius: 4px;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  padding: 50px 31px 55px;
  margin-top: 25px;
  &__icon{
    font-size: 60px;
    margin-bottom: 46px;
    display: block;
  }
  &__title{
    font-size: 24px;
    font-weight: 300;
    color: #000;
    margin-bottom: 24px;
  }
  &__text{
    line-height: 30px;
  }
}

.why-choose-item::before{
content: "";
position: absolute;
font-size: 48px;
color: #5c87f8;
opacity: 20%;
left: 20px;
top: 26px;
}

.why-choose-item--1:before{
  content: "01";
}

.why-choose-item--2::before{
  content: "02";
}

.why-choose-item--3::before{
  content: "03";
}

.why-choose-item--4::before{
  content: "04";
}

.why-choose-item--5::before{
  content: "05";
}

.why-choose-item--6::before{
  content: "06";
}

.lnr-license{
  color: $btn-blue;
}

.lnr-magic-wand{
  color: #7f4ec2;
}

.lnr-lock{
  color: #77de51;
}


.lnr-chart-bars{
  color: #feb71d;
}


.lnr-leaf{
  color: #58c9e9;
}

.lnr-phone{
  color: #ff6a6d;
}


//-----Offer section----//

.offer{
  display: flex;
}

.offer-item{
  min-height: 560px;
  padding: 60px 40px 40px;
  display: flex;
  flex-basis: 50%;
  color: #fff;
}

.offer-item--sell{
  background-image: url(../images/offer-bg-sell.png);
  @include backgroung-image;
}

.offer-item--buy{
  background-image: url(../images/offer-bg-buy.png);
  @include backgroung-image;
}


.offer-item__inner{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 607px;
  margin: 0 auto;
}



.offer-item__title{
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 27px;
}

.offer-item__icon{
  width: 133px;
  height: 104px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 45px;
}


.offer-item__icon--sell{
  background-image: url(../images/icon/sell-icon.svg);
}

.offer-item__icon--buy{
  background-image: url(../images/icon/buy-icon.svg);
}


.offer-item__text{
  line-height: 30px;
  margin-bottom: 27px;
}


.offer-item__btn{
  background-color: #fff;
  padding: 21px 20px;
  border-radius: 38px;
  transition: all 0.5s;
  &:hover{
    background-color: rgb(180, 184, 194);
  }
}

.offer-item__btn--sell{
  color: $btn-blue;
}

.offer-item__btn--buy{
  color: $purple;
}


